:root {
    --main-menu: rgb(32, 48, 32);
    --menu: rgb(24, 32, 24);
    --menu-color: rgb(200, 220, 200);
    --content: rgb(8, 16, 8);
    --section: rgb(24, 26, 24);
    --section-color: rgb(190, 200, 190);
    --section-header: rgb(34, 36, 34);
    --subsection: rgb(34, 36, 34);
    --subsection-color: rgb(200, 210, 200);
    --window: rgb(64, 72, 64);
    --window-color: rgb(220, 230, 220);
    --window-header: rgb(96, 112, 96);
    /* */
    --selected: rgb(128, 196, 128, 0.5);
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    width: 100vw;
    height: 100vh;
}

#editor {
    width: 100vw;
    height: 100vh;
}
